*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Inter',sans-serif;
    color:#1f2937;
    background:white;
    line-height:1.8;
}

header{

    position:fixed;
    top:0;
    width:100%;

    background:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 8%;

    box-shadow:0 2px 15px rgba(0,0,0,.05);

    z-index:1000;
}

.logo{

    font-weight:700;
    letter-spacing:2px;
}

nav ul{

    list-style:none;
    display:flex;
    gap:35px;
}

nav a{

    text-decoration:none;
    color:#1f2937;
    font-weight:500;
}

.hero{

    min-height:100vh;

    background-image:url("assets/DSC_0007.JPG");

    background-size:cover;
    background-position:center;

    background-attachment:fixed;

    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}
.hero::before{

    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.25);
}

.hero-overlay{

    position:relative;
    z-index:10;

    display:flex;
    flex-direction:column;
    align-items:center;

    padding-top:120px;
}

.subtitle{

    color:white;

    text-transform:uppercase;

    letter-spacing:4px;

    margin-bottom:5px;
}

.hero h1{

    color:white;

    font-size:5rem;

    margin-bottom:30px;
}

.profile-img{

    width:250px;
    height:250px;

    object-fit:cover;

    border-radius:50%;

    border:8px solid white;

    margin-top:50px;

    position:relative;

    z-index:1000;
}

.content-wrapper{

    background:white;

    width:100%;

    margin-top:-150px;

    position:relative;

    z-index:5;

    border-radius:0 0 0 0;

    padding-top:50px;

    box-shadow:
    0 -10px 40px rgba(0,0,0,0.08);
}

.hero-content{
    max-width:1500px;
    margin:auto;
    text-align:center;
    position:relative;
    z-index:2;
}

.description{

    font-size:1.2rem;
    color:#6b7280;

    margin-bottom:40px;
}

.hero-buttons{

    display:flex;
    gap:20px;

    justify-content:center;
}

.btn{

    padding:15px 35px;

    border-radius:40px;

    text-decoration:none;

    transition:.3s;
}

.primary{

    background:#2563eb;
    color:white;
}

.primaryteal{

    background:#008080;
    color:white;
}

.primarywhite{

    background:white;
    color:#008080;
}

.secondary{

    border:2px solid #2563eb;
    color:#2563eb;
}

.secondaryteal{

    border:2px solid #008080;
    color:#008080;
}

.secondarywhite{

    border:2px solid white;
    color:white;
}

.btn:hover{
    transform:translateY(-3px);
}

.section{

    max-width:1100px;

    margin:auto;

    padding:120px 30px;
}

.section-title{

    font-size:2.5rem;

    margin-bottom:60px;

    font-weight:700;
}

.section-content p{

    margin-bottom:25px;

    font-size:1.1rem;
}

.timeline{

    display:flex;
    flex-direction:column;

    gap:40px;
}

.timeline-item{

    display:grid;

    grid-template-columns:180px 1fr;

    gap:30px;
}

.highlights-grid{

    margin-top:60px;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;
}

.highlight-card{

    background:#f8fafc;

    border-radius:16px;

    padding:30px;

    display:flex;

    align-items:center;

    gap:25px;

    transition:0.3s ease;

    box-shadow:0 5px 20px rgba(0,0,0,0.05);
    
    text-align:center;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:35px;
}

.highlight-number{

    font-size:4.5rem;

    font-weight:700;

    color:#008080;

    margin-bottom:0px;
}

.highlight-text{

    line-height:1.6;
}

.publications-container{

    display:flex;
    flex-direction:column;
    gap:25px;
}

.publication-card{

    background:#f8fafc;

    padding:30px;

    border-radius:15px;

    transition:.3s ease;
}

.publication-card:hover{

    transform:translateY(-4px);

    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.publication-card h3{

    margin-bottom:10px;

    color:#111827;

    font-size:1.2rem;
}

.year-title{

    font-size:1.5rem;
    font-weight:700;

    color:#1f2937;

    display:inline-block;

    padding-bottom:6px;

    border-bottom:2px solid #008080; /* azul tipo tu tema */
}

.authors{

    color:#008080;

    font-weight:500;

    margin-bottom:5px;
}

.journal{

    color:#6b7280;

    font-style:italic;

    margin-bottom:15px;
}

.publications-button{

    margin-top:40px;

    text-align:center;
}

.publication-details summary{

    list-style:none;

    display:flex;

    gap:15px;

    margin-top:20px;

    cursor:pointer;
}

.publication-details summary::-webkit-details-marker{
    display:none;
}

.pub-btn{

    display:inline-block;

    padding:10px 18px;

    border-radius:12px;

    background:#008080;

    color:white;

    text-decoration:none;

    font-size:0.95rem;

    transition:0.3s;
}

.pub-btn:hover{

    background:#014D4E;
}

.abstract-content{

    margin-top:20px;

    padding:20px;

    background:#f8fafc;

    border-radius:12px;

    line-height:1.8;

    text-align:justify;
}

.show-when-open{
    display:none;
}

details[open] .show-when-open{
    display:inline;
}

details[open] .show-when-closed{
    display:none;
}

.date{

    color:#008080;
    font-weight:600;
}

.card{

    background:#f8fafc;

    padding:35px;

    border-radius:15px;
}

.card h3{

    margin-bottom:8px;
}

.card h4{

    color:#6b7280;

    margin-bottom:15px;
}

.skills-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(200px,1fr));

    gap:20px;
}

.skills-slider{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
}

.skills-card{
    background:#f8fafc;
    padding:40px;
    border-radius:20px;
    width:100%;
    max-width:900px;
    text-align:center;
}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
    gap:15px;
    margin-top:25px;
}

.skill{
    background:white;
    padding:15px;
    border-radius:12px;
    font-weight:600;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.flag-top{
    width:32px;
    height:24px;
    object-fit:cover;
    margin-bottom:10px;
}


.publications-container{

    display:flex;
    flex-direction:column;
    gap:25px;
}

.publication-card{

    background:#f8fafc;

    padding:30px;

    border-radius:15px;

    transition:.3s ease;
}

.publication-card:hover{

    transform:translateY(-4px);

    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.publication-card h3{

    margin-bottom:10px;

    color:#111827;

    font-size:1.2rem;
}

.svg-icon{

    width:28px;
    height:28px;

    stroke:currentColor;
    fill:none;

    color:#2563eb;

    margin-bottom:10px;
}

.skill-icon{

    width:32px;
    height:32px;

    margin-bottom:10px;

    object-fit:contain;

    display:block;
}

.language-skill,
.soft-skill,
.skill{

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    text-align:center;

    padding:20px;
}

.skill-text{

    font-weight:600;
}

/* flechas */
.arrow{
    background:white;
    border:none;
    width:45px;
    height:45px;
    border-radius:50%;
    font-size:24px;
    cursor:pointer;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:.3s;
}

.arrow:hover{
    transform:scale(1.1);
}

.skill:hover{

    transform:translateY(-5px);
}

.edu-card{

    background:#f8fafc;

    padding:40px;

    border-radius:15px;

    margin-bottom:25px;
}

.projects-wrapper{

    width:100vw;

    margin-left:calc(-50vw + 50%);

    display:flex;

    align-items:center;

    gap:15px;

    padding:0 40px;
}

.projects-carousel{

    display:flex;

    gap:25px;

    overflow-x:auto;

    scroll-behavior:smooth;

    scroll-snap-type:x mandatory;

    padding:20px 10px;

    width:100%;
}

.project-card{

    min-width:360px;

    background:#f8fafc;

    padding:30px;

    border-radius:16px;

    box-shadow:0 5px 20px rgba(0,0,0,0.05);

    scroll-snap-align:start;

    position:relative;

    transition:0.3s ease;
}

.project-card:hover{

    transform:translateY(-6px);
}

.project-card h3{

    margin-bottom:10px;

    color:#111827;
}

.project-card p{

    color:#6b7280;

    line-height:1.6;
}

.project-date{

    position:absolute;

    top:-12px;

    left:20px;

    background:#008080;

    color:white;

    padding:6px 12px;

    font-size:0.8rem;

    border-radius:20px;

    font-weight:600;

    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.project-arrow{
    position:relative;
    z-index:10;
    width:45px;
    height:45px;
    border-radius:50%;
    border:none;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    cursor:pointer;
    font-size:22px;
    transition:0.3s;
}

.project-arrow:hover{

    transform:scale(1.1);
}

.contact-box{

    background:#f8fafc;

    padding:40px;

    border-radius:15px;
}

footer{

    text-align:center;

    padding:50px;

    color:#6b7280;
}

.reveal{

    opacity:0;
    transform:translateY(40px);
}

.reveal.active{

    opacity:1;
    transform:translateY(0);

    transition:
    opacity .8s ease,
    transform .8s ease;
}

.dataproducts-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:25px;
}

.dataproduct-card{

    background:#f8fafc;

    padding:30px;

    border-radius:16px;

    box-shadow:0 5px 20px rgba(0,0,0,0.05);

    transition:0.3s ease;

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:12px;
}

.dataproduct-card:hover{

    transform:translateY(-5px);
}

.dataproduct-logo{

    width:120px;

    height:120px;

    object-fit:contain;

    margin-bottom:10px;
}

.dataproduct-card h3{

    margin:0;

    font-size:1.2rem;

    color:#111827;
    text-align:center;
}

.dataproduct-card p{

    margin:0;

    color:#6b7280;

    line-height:1.6;
}

.dataproduct-card a{

    color:#2563eb;

    text-decoration:underline;

    font-size:0.95rem;
}

.product-table-wrapper{

    margin-top:20px;

    display:flex;

    justify-content:center;
}

.product-table{

    border-collapse:separate;

    border-spacing:20px;

    text-align:center;
}

.product-table th{

    font-weight:600;

    color:#111827;

    padding-bottom:10px;
}

.row-label{

    text-align:left;

    font-weight:500;

    color:#374151;

    padding-right:15px;

    white-space:nowrap;
}

/* BOTONES */
.pill-btn{

    display:inline-block;

    padding:8px 18px;

    border-radius:999px;

    background:#008080;

    color:white !important;

    text-decoration:none !important;

    font-size:0.9rem;

    font-weight:500;

    transition:0.3s ease;

    box-shadow:0 4px 12px rgba(0,0,0,0.12);
}

.pill-btn:hover{

    background:#014D4E;

    transform:translateY(-2px);
}

.pill-btn,
.pill-btn:visited,
.pill-btn:hover,
.pill-btn:active{

    color:white;

    text-decoration:none;
}

@media(max-width:768px){

    header{

        flex-direction:column;
        gap:15px;
    }

    nav ul{

        gap:15px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{

        font-size:3rem;
    }

    .timeline-item{

        grid-template-columns:1fr;
    }

    .hero-buttons{

        flex-direction:column;
    }

    .highlights-grid{

        grid-template-columns:1fr;
    }

    .highlight-card{

        grid-template-columns:90px 1fr;
    }

    .highlight-number{

        font-size:3rem;
    }

    .project-card{
        min-width:280px;
    }

    .projects-wrapper{
        padding:0 15px;
    }

    .dataproducts-grid{
        grid-template-columns:1fr;
    }


    .dataproducts-grid{

    grid-template-columns:1fr;

    gap:20px;
}

.dataproduct-card{

    padding:20px;

    gap:15px;
}

.dataproduct-logo{

    width:90px;

    height:90px;
}

.dataproduct-card h3{

    font-size:1.05rem;

    line-height:1.4;
}

.dataproduct-card p{

    font-size:0.95rem;

    text-align:center;
}

.dataproduct-card a{

    font-size:0.9rem;

    word-break:break-word;
}

.product-table-wrapper{

    overflow-x:auto;
}

.product-table{

    width:100%;

    border-spacing:10px;
}

.pill-btn{

    padding:6px 14px;

    font-size:0.8rem;
}
    
}

}
